/* Colors */

// Scheme one
$background: #120E0B;
//$background: #00171F;

// Scheme two 
//$highlight: #19A8AE; // Not Bad
$base: #FFFFFF; // Good
//$highlight: #1883AD; // Okay

// Scheme two 
//$base: #DCDCDC;
$highlight1: #40E0D0;
$highlight: #f26522;

/* Body Mods */
body, html {
	padding: 0;
	margin: 0;
	height: 100%;
	background-color: $background;
	// font-family: 'Roboto', sans-serif;
	//font-family: 'Nunito', sans-serif;
	 font-family: 'Roboto Mono', monospace;
}


/* Landing Page */
.landing-body {
	  position: relative;
    height: 85%;
    width: 100%;
    color: $base;
    text-align: center;
    display: block;

    .landing-text {
    	position: relative;
    	transform: translateY(-50%);
    	top: 41%;

    	.big-text {
    		font-size: 120px;
    	}
    	.small-text {
    		font-size: 50px;
    		opacity: 0.7;
    	}
    }
}


/* About Us Style */
.about-body {
	display: none;
	height: 100%;
	color: $base;
  opacity: 0;
  top: 0%;
  position: relative;

	.about-descr-text {
		width: 80%;
    	position: relative;
    	height: 20%;
    	top: 14%;
    	left: 10%;

    	.descr-header {
    		font-size: 36px;
    		font-weight: bold;

        .fade {
          display: inline-block;
          margin-right: 20px;
          opacity: 0;
          top: 2%;
          position: relative;
        }

        .fade1 { animation: fadeIn 0.5s ease-in 0s 1; animation-fill-mode: forwards; }
        .fade2 { animation: fadeIn 0.5s ease-in 0.4s 1; animation-fill-mode: forwards; }
        .fade3 { animation: fadeIn 0.5s ease-in 0.8s 1; animation-fill-mode: forwards; }
    	}

    	.descr-body {
    		font-size: 24px;
    		margin-top: 14px;
    	}
	}

	.about-team-text {
	    position: relative;
	    width: 80%;
	    height: 60%;
	    top: 65%;
	    left: 10%;

	    .team-header {
	    	font-size: 36px;
    		font-weight: bold;
	    }

	    .team-member {
	    	display: inline-block;
		    top: 20%;
		    margin-right: 50px;
		    position: relative;
		    margin-top: 45px;
		    left: 8%;
		    text-align: center;
        opacity: 0.7;
        cursor: pointer;
        transition: 0.4s;

        &:hover {
          opacity: 1;
        }

		    .photo {
		    	background: $base;
			    width: 100px;
			    height: 100px;
			    border-radius: 100px;
		    }

		    .title {
		    	top: -64px;
		    	position: relative;
		    	font-size: 25px;
		    	left: 20px;
		    }

		    .desc {
		    	top: -22px;
    			position: relative;
		    }
	    }
	}

	.about-contact-text {
		position: relative;
	    width: 80%;
	    height: 30%;
	    top: 114%;
	    left: 10%;

	    .contact-header {
			font-size: 36px;
    		font-weight: bold;
	    }

	    .link-container {
			width: 100%;
		    height: 80%;
		    position: relative;
		    top: 3%;

	    	.link {
	    		background: $base;
			    height: 100px;
			    width: 100px;
			    border-radius: 100px;
			    display: inline-block;
			    left: 22%;
			    top: 9%;
			    position: relative;
			    margin-right: 42px;
          cursor: pointer;
          transition: 0.4s;

          &:hover {
            transform: scale(1.1, 1.1);
          }
	    	}
	    }
	}

	.divider {
		width: 80%;
    	background: $highlight1;
    	height: 2px;
    	position: relative;
    	left: 10%;
	}

	#d1 {
		top: 60%;
	}

	#d2 {
		top: 110%;
	}
}

/* Events Style */
.events-body {
	display: none;
	height: 85%;
	color: $base;
  opacity: 0;
  top: 0%;
  position: relative;

	.events-text {
		position: relative;
	    top: 8%;
	    font-size: 50px;
	    left: 6%;

	}

	.events-content {
	    height: 100%;
	    width: 77%;
	    position: relative;
	    left: 21%;
	    top: 16%;

		.event {
			  display: inline-block;
        border: 2px solid $highlight1;
        height: 250px;
        width: 250px;
        font-size: 29px;
        text-align: center;
        margin-top: 10px;
        cursor: pointer;
        transition: 0.4s;

        &:hover {
          border: 2px solid $highlight;
        }

		    .text {
		    	position: relative;
    			top: 34%;
		    }
		}
	}
}

/* House Style */
.house-body {
  display: none;
  height: 85%;
  color: $base;
  text-align: center;
  opacity: 0;
  top: 0%;
  position: relative;

  .house-text {
    font-size: 40px;
    position: relative;
    top: 15%;
  }
}

/* Apply Style */
.apply-body {
	display: none;
	height: 85%;
	color: $base;
	text-align: left;
  opacity: 0;
  top: 0%;
  position: relative;

	.apply-text {
		position: relative;
		top: 18%;
		font-size: 50px;
    width: 90%;
    left: 5%;

    .apply-highlight {
      font-weight: bold;
      cursor: pointer;
      opacity: 0.7;
      height: 10%;
      width: 10%;
      top: -67px;
      position: relative;
      left: 171px;
      transition: 0.4s;

      &:hover {
        opacity: 1;
      }
    }

    .apply-highlight:after {
      display:block;
      content: '';
      border-bottom: solid 3px $highlight;  
      transform: scaleX(0);  
      transition: transform 250ms ease-in-out;
    }

    .apply-highlight:hover:after {    
      transform: scaleX(1);
      transform-origin:  0% 50%;
    }
	}

}



/* Nav Bar */
$thick : 3px;
$pad : 0.7em;
$extra : calc(#{$pad} * 1.2);
$color : $highlight;//#f26522;


.nav-bar {
	width: 100%;
  height: 15%;

  #logo {
    background: #FFFFFF;
    height: 45px;
    position: relative;
    width: 45px;
    border-radius: 100px;
    top: 45%;
    left: 5%;
    display: none;
  }
}

.house {
  margin-right: -24px;
}
.events {
  margin-right: 27px;
}

.nav-item {
  cursor: pointer;
  top: 50%;
  left: 51%;
  color: white;
  transform: translate3d(-50%,-50%,0);
  padding: $pad $extra;
  display: inline-block;
  border: $thick solid transparent;
  position: relative;
  font-size: 1.5em;
  letter-spacing: 0.07em;
  
  .text {
    // padding: 0 0.3em;
    transform: translate3d(0,$pad,0);
    display: block;
    transition: transform 0.4s cubic-bezier(.2,0,0,1) 0.4s;
  }
  
  &:after {
    position: absolute;
    content: '';
    bottom: -$thick;
    left: $extra;
    right: $extra;
    height: $thick;
    background: $color;
    z-index: -1;
    transition: 
      transform 0.8s cubic-bezier(1,0,.37,1) 0.2s,
      right 0.2s cubic-bezier(.04,.48,0,1) 0.6s,
      left 0.4s cubic-bezier(.04,.48,0,1) 0.6s;
    transform-origin: left;
  }
 
}

.line {
  position: absolute;
  background: $color;
  
  &.-right,
  &.-left {
    width: $thick;
    bottom: -$thick;
    top: -$thick;
    transform: scale3d(1,0,1);
  }  
  
  &.-top,
  &.-bottom {
    height: $thick;
    left: -$thick;
    right: -$thick;
    transform: scale3d(0,1,1);
  }
  
  &.-right {
    right: -$thick;
    transition: transform 0.1s cubic-bezier(1,0,.65,1.01) 0.23s;
    transform-origin: top;
  }
  
  &.-top {
    top: -$thick;
    transition: transform 0.08s linear 0.43s;
    transform-origin: left;
  }
  
  &.-left {
    left: -$thick;
    transition: transform 0.08s linear 0.51s;
    transform-origin: bottom;
  }
  
  &.-bottom {
    bottom: -$thick;
    transition: transform 0.3s cubic-bezier(1,0,.65,1.01);
    transform-origin: right;
  }  
}

.nav-item:hover,
.nav-item:active {
  
  .text {
    transform: translate3d(0,0,0);
    transition: transform 0.6s cubic-bezier(.2,0,0,1) 0.4s;
  }
  
  &:after {
    transform: scale3d(0,1,1);
    right: -$thick;
    left: -$thick;
    transform-origin: right;
    transition: 
      transform 0.2s cubic-bezier(1,0,.65,1.01) 0.17s,
      right 0.2s cubic-bezier(1,0,.65,1.01),
      left 0s 0.3s;
  }
  
  .line {
    transform: scale3d(1,1,1);
    
    &.-right {
      transition: transform 0.1s cubic-bezier(1,0,.65,1.01) 0.2s;
      transform-origin: bottom;
    }

    &.-top {
      transition: transform 0.08s linear 0.4s;
      transform-origin: right;
    }

    &.-left {
      transition: transform 0.08s linear 0.48s;
      transform-origin: top;
    }

    &.-bottom {
      transition: transform 0.5s cubic-bezier(0,.53,.29,1) 0.56s;
      transform-origin: left;
    }
  }
  
}


/* Animations */
.animate-page {
  animation: fadeIn 0.1s ease-in 0s 1;
  animation-fill-mode: forwards;

}

@keyframes growRight {
  to {
    width: 25px;
  }
}


@keyframes fadeIn {
  to {
    top: 0%;
    opacity: 1;
  }
}