body, html {
	// font-family: 'Roboto', sans-serif;
	font-family: 'Nunito', sans-serif;
	// font-family: 'Roboto Mono', monospace;
	margin: 0;
	padding: 0;
	height: 100%;
	background: black;
}


// Landing Style
#landing-container {
    text-align: center;
    color: white;
    height: 100%;

    .bg-parent {
    	width: 100%;
    	height: 100%;
    	position: absolute;

    	.bg-pic {
    		object-fit: cover;
    		height: 100%;
    		width: 100%;
    	}
    }

	.overlay {
		position: absolute;
	    left: 0px;
	    right: 0px;
	    height: 100%;
	    width: 100%;
	    opacity: 0.4;
	    z-index: 10;
	    background: black;
	}
	.text-container {
		position: relative;
    	transform: translateY(-50%);
    	top: 50%;
    	z-index: 20;

		.big-text {
			font-weight: bold;
			font-size: 100px;
			opacity: 0;
			animation: fadein 0.5s ease-in 0s 1;
      		animation-fill-mode: forwards;
      		transition: 0.4s;
      		cursor: pointer;

      		&:hover {
      			font-size: 110px;
      		}
		}
		.small-text {
			font-size: 26px;
			opacity: 0;
			animation: fadein1 0.5s ease-in 0.3s 1;
      		animation-fill-mode: forwards;
		}
	}
}

// Nav Style
.nav-container {
	position: fixed;
    top: 10px;
    left: 10px;
    height: 100%;
    color: white;
    z-index: 21;

    #nav-show {
    	background: black;
	    height: 100%;
	    width: 300px;
	    text-align: center;
	    position: relative;
	    top: -11.7%;
	    left: -115%;
	    transition: 0.4s;

    	.nav-item {
    		font-size: 42px;
    		padding-top: 46px;
    		cursor: pointer;
    		opacity: 0.8;

    		&:hover {
    			opacity: 1;
    			font-weight: bold;
    		}
    	}
    }
}


// Animations 
@keyframes fadein {
	to {
		opacity: 1;
	}
}
@keyframes fadein1 {
	to {
		opacity: 0.7;
	}
}

// Logistical Code, ignore it.

.hamburger {
	outline: none;
	z-index: 100;
	position: relative;
	opacity: 0.5;
}

.hamburger:focus {
	outline: none;
}

.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
	background-color: white !important;
}

.video-fullcontainer {
    border-right: none;
    border-left: none;
    position: absolute;
    width: 100%;
    height: 100%;
}

.no-video .video-container video,
.touch .video-container video {
    display: none;
}
.no-video .video-container .poster,
.touch .video-container .poster {
    display: block !important;
}
.video-container {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    /* overflow: hidden; */
    /* background: #000; */
}
.video-container .poster img {
    width: 100%;
    bottom: 0;
    position: absolute;
}
.video-container .filter {
    z-index: -1;
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
}
.video-container video {
    //position: absolute;
    z-index: 0;
    bottom: 0;
}
.video-container video.fillWidth {
    width: 100%;
    height: 100%;
}

