/* Colors */
/* Body Mods */
body, html {
  padding: 0;
  margin: 0;
  height: 100%;
  background-color: #120E0B;
  font-family: 'Roboto Mono', monospace; }

/* Landing Page */
.landing-body {
  position: relative;
  height: 85%;
  width: 100%;
  color: #FFFFFF;
  text-align: center;
  display: block; }
  .landing-body .landing-text {
    position: relative;
    transform: translateY(-50%);
    top: 41%; }
    .landing-body .landing-text .big-text {
      font-size: 120px; }
    .landing-body .landing-text .small-text {
      font-size: 50px;
      opacity: 0.7; }

/* About Us Style */
.about-body {
  display: none;
  height: 100%;
  color: #FFFFFF;
  opacity: 0;
  top: 0%;
  position: relative; }
  .about-body .about-descr-text {
    width: 80%;
    position: relative;
    height: 20%;
    top: 14%;
    left: 10%; }
    .about-body .about-descr-text .descr-header {
      font-size: 36px;
      font-weight: bold; }
    .about-body .about-descr-text .descr-body {
      font-size: 24px;
      margin-top: 14px; }
  .about-body .about-team-text {
    position: relative;
    width: 80%;
    height: 60%;
    top: 55%;
    left: 10%; }
    .about-body .about-team-text .team-header {
      font-size: 36px;
      font-weight: bold; }
    .about-body .about-team-text .team-member {
      display: inline-block;
      top: 20%;
      margin-right: 50px;
      position: relative;
      margin-top: 45px;
      left: 8%;
      text-align: center;
      opacity: 0.7;
      cursor: pointer;
      transition: 0.4s; }
      .about-body .about-team-text .team-member:hover {
        opacity: 1; }
      .about-body .about-team-text .team-member .photo {
        background: #FFFFFF;
        width: 100px;
        height: 100px;
        border-radius: 100px; }
      .about-body .about-team-text .team-member .title {
        top: -64px;
        position: relative;
        font-size: 25px;
        left: 20px; }
      .about-body .about-team-text .team-member .desc {
        top: -22px;
        position: relative; }
  .about-body .about-contact-text {
    position: relative;
    width: 80%;
    height: 30%;
    top: 114%;
    left: 10%; }
    .about-body .about-contact-text .contact-header {
      font-size: 36px;
      font-weight: bold; }
    .about-body .about-contact-text .link-container {
      width: 100%;
      height: 80%;
      position: relative;
      top: 3%; }
      .about-body .about-contact-text .link-container .link {
        background: #FFFFFF;
        height: 100px;
        width: 100px;
        border-radius: 100px;
        display: inline-block;
        left: 22%;
        top: 9%;
        position: relative;
        margin-right: 42px;
        cursor: pointer;
        transition: 0.4s; }
        .about-body .about-contact-text .link-container .link:hover {
          transform: scale(1.1, 1.1); }
  .about-body .divider {
    width: 80%;
    background: #40E0D0;
    height: 2px;
    position: relative;
    left: 10%; }
  .about-body #d1 {
    top: 48%; }
  .about-body #d2 {
    top: 104%; }

/* Events Style */
.events-body {
  display: none;
  height: 85%;
  color: #FFFFFF;
  opacity: 0;
  top: 0%;
  position: relative; }
  .events-body .events-text {
    position: relative;
    top: 8%;
    font-size: 50px;
    left: 6%; }
  .events-body .events-content {
    height: 100%;
    width: 77%;
    position: relative;
    left: 21%;
    top: 16%; }
    .events-body .events-content .event {
      display: inline-block;
      border: 2px solid #40E0D0;
      height: 250px;
      width: 250px;
      font-size: 29px;
      text-align: center;
      margin-top: 10px;
      cursor: pointer;
      transition: 0.4s; }
      .events-body .events-content .event:hover {
        border: 2px solid #f26522; }
      .events-body .events-content .event .text {
        position: relative;
        top: 34%; }

/* Apply Style */
.apply-body {
  display: none;
  height: 85%;
  color: #FFFFFF;
  text-align: center;
  opacity: 0;
  top: 0%;
  position: relative; }
  .apply-body .apply-text {
    position: relative;
    top: 18%;
    font-size: 80px; }

/* Nav Bar */
.nav-bar {
  width: 100%;
  height: 15%; }
  .nav-bar #logo {
    background: #FFFFFF;
    height: 45px;
    position: relative;
    width: 45px;
    border-radius: 100px;
    top: 45%;
    left: 5%;
    display: none; }

.nav-item {
  cursor: pointer;
  top: 50%;
  left: 61%;
  color: white;
  transform: translate3d(-50%, -50%, 0);
  padding: 0.7em calc(0.7em * 1.2);
  display: inline-block;
  border: 3px solid transparent;
  position: relative;
  font-size: 1.5em;
  letter-spacing: 0.07em; }
  .nav-item .text {
    transform: translate3d(0, 0.7em, 0);
    display: block;
    transition: transform 0.4s cubic-bezier(0.2, 0, 0, 1) 0.4s; }
  .nav-item:after {
    position: absolute;
    content: '';
    bottom: -3px;
    left: calc(0.7em * 1.2);
    right: calc(0.7em * 1.2);
    height: 3px;
    background: #f26522;
    z-index: -1;
    transition: transform 0.8s cubic-bezier(1, 0, 0.37, 1) 0.2s, right 0.2s cubic-bezier(0.04, 0.48, 0, 1) 0.6s, left 0.4s cubic-bezier(0.04, 0.48, 0, 1) 0.6s;
    transform-origin: left; }

.line {
  position: absolute;
  background: #f26522; }
  .line.-right, .line.-left {
    width: 3px;
    bottom: -3px;
    top: -3px;
    transform: scale3d(1, 0, 1); }
  .line.-top, .line.-bottom {
    height: 3px;
    left: -3px;
    right: -3px;
    transform: scale3d(0, 1, 1); }
  .line.-right {
    right: -3px;
    transition: transform 0.1s cubic-bezier(1, 0, 0.65, 1.01) 0.23s;
    transform-origin: top; }
  .line.-top {
    top: -3px;
    transition: transform 0.08s linear 0.43s;
    transform-origin: left; }
  .line.-left {
    left: -3px;
    transition: transform 0.08s linear 0.51s;
    transform-origin: bottom; }
  .line.-bottom {
    bottom: -3px;
    transition: transform 0.3s cubic-bezier(1, 0, 0.65, 1.01);
    transform-origin: right; }

.nav-item:hover .text,
.nav-item:active .text {
  transform: translate3d(0, 0, 0);
  transition: transform 0.6s cubic-bezier(0.2, 0, 0, 1) 0.4s; }
.nav-item:hover:after,
.nav-item:active:after {
  transform: scale3d(0, 1, 1);
  right: -3px;
  left: -3px;
  transform-origin: right;
  transition: transform 0.2s cubic-bezier(1, 0, 0.65, 1.01) 0.17s, right 0.2s cubic-bezier(1, 0, 0.65, 1.01), left 0s 0.3s; }
.nav-item:hover .line,
.nav-item:active .line {
  transform: scale3d(1, 1, 1); }
  .nav-item:hover .line.-right,
  .nav-item:active .line.-right {
    transition: transform 0.1s cubic-bezier(1, 0, 0.65, 1.01) 0.2s;
    transform-origin: bottom; }
  .nav-item:hover .line.-top,
  .nav-item:active .line.-top {
    transition: transform 0.08s linear 0.4s;
    transform-origin: right; }
  .nav-item:hover .line.-left,
  .nav-item:active .line.-left {
    transition: transform 0.08s linear 0.48s;
    transform-origin: top; }
  .nav-item:hover .line.-bottom,
  .nav-item:active .line.-bottom {
    transition: transform 0.5s cubic-bezier(0, 0.53, 0.29, 1) 0.56s;
    transform-origin: left; }

/* Animations */
.animate-page {
  animation: fadeIn 0.1s ease-in 0s 1;
  animation-fill-mode: forwards; }

@keyframes fadeIn {
  to {
    top: 0%;
    opacity: 1; } }

/*# sourceMappingURL=homepage.css.map */
